/* LARGE DEVICES FORM 992px TO 1200px */


@media only screen and (min-width: 992px){
/* HEADER CONFIGURATION */
.menu-cabecalho{
  height: 60px;
  padding: 5px 50px;
}

hr{ margin-top: 100px; }
/* ========================  */


/* MAIN CONFIGURATION */
.overlay{height: 0;}

.next-race:hover .overlay{height: 100%;}

}