/* SMALL DEVICES FROM 600px TO 768px */

@media only screen and (min-width: 600px){
/* CONTAINER CONFIGURATION */
.container{
  width: 95%;
}
/* ======================== */

/* HEADER CONFIGURATION */
.cabecalho{ 
  min-height: 90vh;
  max-height: 800px; 
}

.titulo-cabecalho{
  font-size: 9vw;
  line-height: 9vw;
  order: 3;
}

.menu-cabecalho{
  height: 50px;
  padding: 5px 30px;
}

hr{
  margin: 30px 0;
  width: 50%;
}

.img-cabecalho img{
  content: url('../img/kimi-raikkonen-wallpapers_desktop.jpg');
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
/* ======================== */
}