/* IMPORT FONT */
@font-face{
    font-family: 'Futura';
    src: url('../fonts/Futura.ttc');
}
/* ======================== */


/* CONTAINER CONFIGURATION */
.container{
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}
/* ======================== */


/* DEFAULT CONFIGURATION */
body{ background-color: #333333; }

h1,h2,h3{
    font-family: 'Futura-bold', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

h1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    -webkit-background-clip: text; 
    -moz-background-clip: text;
    -o-background-clip: text;

    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    -o-text-fill-color:transparent;
    -ms-text-fill-color:transparent;

    background-image: url("../img/imagem_para_o_fundo_mobile.jpg");
}


hr{
    margin-top: 10px;
    border: 1px solid #B90302;
    height: 1px;
}

/* HEADER CONFIGURATION */
.cabecalho{
    position: relative;
    justify-content: center;
}

.titulo-cabecalho{ width: 100%; }

.menu-cabecalho{
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 1;
}

.menu-cabecalho img{ height: 100%; }

#menu-hamburger{ fill: #fff; }
/* ========================= */

/* MAIN CONFIGURATION */
.next-race img,
.next-race-photo img,
video{width: 100%;}

.next-race,
.previousRace,
.next-race-photo{
    position: relative;
    color: white;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 2, 2, 0.842);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: .5s ease;
}


.bg-red{background-color: red;}

.bg-green{background-color: green;}

.bg-blue{background-color: blue;}