/* EXTRA LARGE DEVICES FORM 1200px TO 1920px */


@media only screen and (min-width: 1200px){
/* HEADER CONFIGURATION */
.cabecalho{ 
    min-height: 100vh; }

.img-cabecalho{
    height: 100%;
    width: 100%;
    position: relative;
}
/* ========================  */

/* MAIN CONFIGURATION */

/* BORN TO RACE */
.born-to-race video{
    height: 100%;
}
/* ========================  */
/* ========================  */
}